// Small tablets and large smartphones (landscape view)
$screen-sm-min: 640px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1024px;

// Large tablets and desktops
$screen-xl-min: 1280px;

//Wide screen desktops
$screen-2xl-min: 1536px;

$lightGray: #afafaf;
$lightRed: #ff4359;
$black: #000000;
$white: #ffffff;
$pink: #fc435933;
